/*
. = classe
# = id
*/
html,body {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 20px;
	font-family: sans-serif;
	background: #FBFBF8;
	scroll-behavior: smooth;
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}

body{
	
}

/*                      Header                   */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: block;
}
#navbar{
    align-items: center;
    width: 100vw;
    height: 13vh; /* altura do trem rosa (topo)*/
    background: #FBCDE9;;
    box-shadow: 0px 0px 6px #222222;
    
}

/* Barra de navegação */

/*                     */
#menu{ 
    width: 100vw;
    min-height: 5vh;
    min-width: 100vw;
    background: rgba(196, 196, 196, 0.3);
    
}
#menu ul {
    align-items: center;
    display: flex;
    width: 60vw; /*distancia entre elementos */
    height: 60px;
    min-width: 700px;
}
#menu ul li {
    list-style: none;
    display: flex;
    
}

#menu ul li a{ /* palavras dos link da navbar cinza */
    margin: 0 auto;
    color: #444343; /* Cor texto barra nav*/
    text-decoration: none;
    background: transparent;

    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 20px;
    line-height: 18px;
}
#menu ul li a:hover{ /* palavras dos link da navbar cinza */
    color: rgb(124, 21, 124);
}
.logo {
    position: fixed;
    width: 115px;
    height: 115px;
}

.busca-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 75px;   
}

#butaodelupa{
    position: relative;
    margin: 0;
    color: white;
    display: inline-block;
    font-size: 22px; /* Tamanho da lupa */
    background-color:transparent;
    border: none;
    border-radius: 10em;
    text-align:center;
    left: 5px;
    height: 40px;   /* Altura do circulo da lupa envolta */
	width: 40px;   /* Cumprimento do circulo da lupa envolta */
}
#butaodelupa:hover{
    color:rgb(105, 105, 105);
    font-size: 20px;
   background-color: white; 
   /* background: radial-gradient(rgb(245, 107, 234),rgb(124,21,124)); */
}

#divBusca{
    height: 40px;
    width: 500px;
    border-radius: 1em;
    background-color: rgb(255, 255, 255);
    margin: 0;
    align-items: center;
}

#txtBusca{
    margin-left:15px;
    font-size: 17px;
    width: 90%;
    height: 28px;
    border: none;
    position: relative;
    top:6px;
}

#livrinho{
    color: rgb(114, 108, 114);
    margin: 0;
    position: relative;
    top:8px;
    left: 10px;
}


/*                 Fim do Header                   */



/*                   Rank                        */

#listarank {
    position: absolute;
    width: 300px;
    left: 85%;
    top: 125px;
    bottom: 0px;
    background-color: #C4C4C4;
    
}


#listarank li {
    margin-top: 20px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    
}
