:root{
    --rosa: #FBCDE9;
    --cinza:#C4C4C4;
    --roxo: #831156;
}
/*
. = classe
# = id
*/
html,body {
    margin: 0 !important;
	padding: 0 !important;
	font-size: 20px;
	font-family: sans-serif;
	background: #ebd7e3e3;
	scroll-behavior: smooth;
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
 
}
input:focus, textarea:focus, select:focus{
    outline: none;
}

body{
	height: 100%;
    max-width: 100%;
}

/*                      Header                   */
header{
    max-width: 100%;
}
a{
   margin: 0;
}
#navbar{
    display: flex;

    margin: 0;
    width: 100vw;
    height: 13vh; /* altura do trem rosa (topo) 13*/
    background: var(--rosa);
    box-shadow: 0px 0px 6px #222222;
    max-width: 100%;
}

/* Barra de navegação */

/*                     */
#menu{ 
    width: 100vw;
    min-height: 5vh;
    background: #ddd3d3;
    box-shadow: 0px 0px 6px #222222;
    max-width: 100%;
    
}
#menu ul {
    align-items: center;
    display: flex;
    width: 50vw; /*distancia entre elementos */
    height: 60px;
    min-width: 700px;
}
#menu ul li {
    list-style: none;
    display: flex;
    
}

#menu ul li a{ /* palavras dos link da navbar cinza */
    margin: 0 auto;
    color:black; /* Cor texto barra nav*/
    text-decoration: none;
    background: transparent;

    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 20px;
    line-height: 18px;
}
#menu ul li a:hover{ /* palavras dos link da navbar cinza */
    color: var(--roxo);
    font-size: 21px;
    transition: 0.3s;
}
.logo {
    margin: 0;
    width: 115px;
    height: 115px;

}
.busca-navbar{
    display: flex;
    height: 100%;
    align-items: center;
    max-width: 100%;
}

#butaodelupa{
    position: relative;
    margin: 0;
    color: white;
    display: inline-block;
    font-size: 22px; /* Tamanho da lupa */
    background-color:transparent;
    border: none;
    border-radius: 10em;
    text-align:center;
    left: 5px;
    height: 40px;   /* Altura do circulo da lupa envolta */
	width: 40px;   /* Cumprimento do circulo da lupa envolta */
}
#butaodelupa:hover{
    color:rgb(105, 105, 105);
    font-size: 20px;
   background-color: white; 
   /* background: radial-gradient(rgb(245, 107, 234),rgb(124,21,124)); */
}

#divBusca{
    height: 40px;
    width: 500px;
    border-radius: 1em;
    background-color: rgb(255, 255, 255);
    margin: 0%;
    align-items: center;  
    max-width: 100%;
}
#divBusca:hover {
    box-shadow: 0px 0px 6px #222222;
}

#txtBusca{
    margin-left:15px;
    font-size: 17px;
    width: 90%;
    height: 28px;
    border: none;
    position: relative;
    top:6px;
}

#livrinho{
    color: rgb(114, 108, 114);
    margin: 0;
    position: relative;
    top:8px;
    left: 10px;
}
#loginecadastro{
    
   
}

/*                 Fim do Header                   */


/*                popup cadastro/login              */
.center{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}
#abrir-login {
    position: absolute;
    left: 93%;
    top: 5%;
    cursor: pointer;

    border: none;
    background: #f0b4d9;
    color: black;
    border-radius: 690px;
    padding: 10px 20px;
    font-family: 'ABeeZee', sans-serif;
    font-weight:bold;
}


#abrir-login:hover{
    background:rgb(201, 164, 164);
    color:white;
}
.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: hidden;
    transform: translate(-50%,-50%) scale(1.25); 
    width: 450px;
    height: 450px;
    padding: 20px 30px;
    background: rgb(156, 126, 126);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms, 
                opacity 200ms ease-in-out 0ms, 
                transform 200ms ease-in-out 0ms;

}
.popup.active{
    top: 50%;
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.popup .fechar{
    position: absolute;
    top: 10px;
    right:10px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
#login{
    margin: 0;
}
.popup .form h2{
    text-align: center;
    margin: 10px 0px 20px;

    font-size: 25px;
    font-family: 'ABeeZee', sans-serif;
    font-style: italic;
}
.popup .form .form-element {
    margin: 15px 0px ;
    
}
.popup .form .form-element label {
    position: relative;
    top: 10px;
    font-size: 15px 0px;
    font-family: 'ABeeZee', sans-serif;

}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"]{
    position: relative;
    top: 10px;
    margin: 9px;
    border:none;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 7px;

}
.popup .form .form-element button{
    position: relative;
    top: 40px;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 15px;
    background: rgb(201, 164, 164);
    color: black;
    border-radius: 10px;
    cursor: pointer;
    
}


/*             Fim   popup cadastro/login              */


/*           Contato             */

#linha-vertical{
    position: absolute;
    width: 37%;
    height: 0%;
    left: 32%;
    top: 95%;

    border: 1px solid #000000;
    transform: rotate(90.41deg);
}
#contato h1{
    position: absolute;
    width: 65%;
    height: 28%;
    left: 31%;
    top: 40%;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 210%;
    line-height: 18%;
    /* or 43% */


    color: #ca1f86;
}
#telefone h1{
    position: absolute;
    width: 9%;
    height: 18%;
    left: 71%;
    top: 72%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 170%;
    line-height: 18%;
    /* identical to box height, or 50% */


    color: #FE48B7;
}
#telefone h2{
    position: absolute;
    width: 30%;
    height: 29%;
    left: 65%;
    top: 87%;

    font-family: Rationale;
    font-style: normal;
    font-weight: normal;
    font-size: 150%;
    line-height: 100%;
    /* or 56% */


    color: #000000;
}
#telefone p{
    position: absolute;
    width: 30%;
    height: 29%;
    left: 69%;
    top: 110%;
    
    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 125%;
    line-height: 95%;
    /* identical to box height, or 60% */
    
    
    color: #000000;
}
#rectangle{
    position: absolute;
    width: 22%;
    height: 6%;
    left: 65%;
    top: 109%;

    background: #FF8DD3;
    border-radius: 56px;
}
#rectangle2{
    position: absolute;
    width: 22%;
    height: 6%;
    left: 12%;
    top: 109%;

    background: #FF8DD3;
    border-radius: 56px;
}
#email h1{
    position: absolute;
    width: 9%;
    height: 18%;
    left: 18%;
    top: 72%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 170%;
    line-height: 18%;
    /* identical to box height, or 50% */


    color: #FE48B7;
}
#email h2{
    position: absolute;
    width: 20%;
    height: 29%;
    left: 15%;
    top: 87%;

    font-family: Rationale;
    font-style: normal;
    font-weight: normal;
    font-size: 150%;
    line-height: 100%;
    /* or 56% */


    color: #000000;
}
#email p{
    position: absolute;
    width: 30%;
    height: 29%;
    left: 17%;
    top: 110%;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 125%;
    line-height: 95%;
    /* identical to box height, or 56% */


    color: #000000;

}

/*          Fim do Contato             */


/*           Quem somos            */

#barrinha{
    height: 100%;
    
}

#livros{
    height: 100vh;
}

#qsomos h1{
    position: absolute;
    width: 325px;
    height: 26px;
    left: 878px;
    top: 290px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 18px;
    /* or 36% */


    color: #831156;
}

#qsomos p{
    position: absolute;
    width: 500px;
    height: 410px;
    left: 770px;
    top: 380px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    /* or 88% */
    
    text-align: justify;
    
    color: #000000;
}

#linha-vertical{
    position: absolute;
    width: 558.01px;
    height: 0px;
    left: 420px;
    top: 470px;

    border: 1px solid #000000;
    transform: rotate(90.41deg);
}

/*        Fim do Quem somos            */

/*           Fórum            */

#forum h1{
    position: absolute;
    width: 232px;
    height: 44px;
    left: 600px;
    top: 240px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 18px;
    /* or 37% */


    color: #831156;
}
#forum p{
    position: absolute;
    width: 691px;
    height: 21px;
    left: 370px;
    top: 305px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 18px;
    /* or 75% */


    color: #000000;
}
#retangulo{
    position: absolute;
    width: 900px;
    height: 150px;
    left: 250px;
    top: 406px;

    background: #C4C4C4;
    border-radius: 229px;
}
#circulo{
    position: absolute;
    width: 120px;
    height: 105px;
    left: 290px;
    top: 430px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
}
#caixa1 h3{
    position: absolute;
    width: 104px;
    height: 21px;
    left: 450px;
    top: 430px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 18px;
    /* or 75% */


    color: #000000;
}
#caixa1 p{
    position: absolute;
    width: 314px;
    height: 21px;
    left: 450px;
    top: 490px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 18px;
    /* or 75% */


    color: #000000;
}
#retangulo2{
    position: absolute;
    width: 900px;
    height: 150px;
    left: 250px;
    top: 650px;

    background: #C4C4C4;
    border-radius: 229px;
}
#circulo2{
    position: absolute;
    width: 120px;
    height: 105px;
    left: 290px;
    top: 680px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
}
#caixa2 h3{
    position: absolute;
    width: 104px;
    height: 21px;
    left: 450px;
    top: 680px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 18px;
    /* or 75% */
    
    
    color: #000000;
}
#caixa2 p{
    position: absolute;
    width: 314px;
    height: 21px;
    left: 450px;
    top: 740px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 18px;
    /* or 75% */
    
    
    color: #000000;
}

/*          Fim do Fórum            */
